
body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: $color-primary-text;
}

/**************HEADER = _header.scss**************/


/**************LOADER ****************************/
.loader-container{
    position: fixed;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:1;
    background-color : whitesmoke;
    opacity : 0.9;
    animation: disparition 0.3s 3s ease-in forwards;
    transform-origin: top;
  }

  .loader{
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 16px solid #9356DC;
    border-top-color: #FF79DA;
    border-bottom-color:  #99E2D0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: chargeur 3s linear 1s;
    animation-fill-mode : forwards;
  }

/**************PAGE D ACCUEIL********************/
.fonctionnement {
   @include flex-center;
   margin-right:3.5rem;
   counter-reset : steps;
}

.etape {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $color-background-secondary;
    margin: auto 0.5rem 1.5rem auto;
    width: 100%;
    position: relative;
    &:hover{
        background-color: lighten($color-primary, $amount: 35%) ;
    }
}

.etape span{
    :hover{
            color:$color-primary;
       }
}

.etape::before{
    @include flex-center;
    position: absolute;
    content: ""counter(steps);
    counter-increment: steps;
    height: 25px;
    width: 25px;
    left: -1rem;
    transition: all 0.3s;
    border-radius:50%;
    background : $color-primary;
}

.card{
    background-color: $color-background-secondary;
    padding-bottom: 3rem;
}

.card__resto{
    @include flex-center;
    flex-direction: column;
    :hover{
        background-color: lighten($color-primary, $amount: 35%) ;;
         transition: all 0.3s ease;
        }

    .new{
        position: relative;
    }
    .new::before{
        content:"Nouveau";
        position: absolute;
        height: 2rem;
        width: 5rem;
        border-radius:5px;
        background-color:$color-tertiary;
        color: darken($color-tertiary,40%);
        font-size: 14px;
        font-weight: bold;
        @include flex-center;
        right: 1rem;
        top: 1rem;
    }
    @include desktop {
        display: grid;
        grid-gap: 20px;
        grid-template-columns:1fr 1fr;
        grid-template-rows: auto;
        padding-left: 8rem;
    }
}

.card__resto--paletteDuGout,
.card__resto--noteEnchantee,
.card__resto--alaFrancaise,
.card__resto--deliceDesSens {
    @include box-shadow;
    @include p;
    @include card-resto;
    margin-bottom: 1.5rem;
    @include desktop{
        border-radius: 2rem;
    }
    @include tablette {
        border-radius: 2rem;
    }
}

.card__lieu {
    margin: -1rem 3rem -1rem 1rem;
    display: flex;
    justify-content: space-between;
    @include coeur;
}


/*********PAGE RESTO***************/

.resto{
    background-color :$color-background-secondary;
}

.restoImg {
    box-sizing: content-box;
    background-size: cover;
    background-position: bottom;
    }
img{
    width:100%;
    @include desktop {
        max-width: 100%;
        max-height: 28rem;
        width: 100%;
        object-fit: cover;
    }
    @include tablette {
        max-width: 100%;
        max-height: 22rem;
        width: 100%;
        object-fit: cover;
    }
}

.flecheRetour {
    font-size: 1.5rem;
    position: absolute;
    left: 3rem;
    top: 2.8rem;
}

h6{
    @include h6;
}

.carte {
    background-color:$color-background-secondary;
    border-radius: 30px 30px 0 0 ;
    padding: 0.1rem 1rem 0 1rem;
    position: relative;
    top: -3.5rem;
}

.carte__titre {
    @include h5;
    @include coeur;
    span{
    position: absolute;
    right: 4rem;
    top: 2.5rem;
    }
}


.carte__menus{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1rem;
   @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
   }
}

/*MONTEE TITRE ET CARTE*/ 
h6, .carte, .carte__menus{
    animation: montee 2s ease-in-out backwards 0.8s;
}

/*MONTEE ENTREE PLAT DESSERT*/ 
.carte__menus--1{
    animation: montee 1s ease-in-out backwards 0.2s ;
}
.carte__menus--2{
    animation: montee 1s ease-in-out backwards 0.5s ;
}

.carte__menus--3{
    animation: montee 1s  ease-in-out backwards 1.2s;
}
/*MONTEE DES PLATS*/
.carte__item1--1{
    animation: montee 1s ease-in-out backwards 0.5s;
}
.carte__item1--2{
    animation: montee 1s ease-in-out backwards 0.8s;
}
.carte__item1--3{
    animation: montee 1s ease-in-out backwards 1.1s;
}
.carte__item1--4{
    animation: montee 1s ease-in-out backwards 1.4s ;
}
.carte__item1--5{
    animation: montee 1s ease-in-out backwards 1.7s;
}
.carte__item1--6{
    animation: montee 1s ease-in-out backwards 2s;
}
.carte__item1--7{
    animation: montee 1s ease-in-out backwards 2.3s;
}
.carte__item1--8{
    animation: montee 1s ease-in-out backwards 2.6s;
}
.carte__item1--9{
    animation: montee 1s ease-in-out backwards 2.9s;
}
.carte__item1--10{
    animation: montee 1s ease-in-out backwards 1.3s;
    @include desktop{
        grid-column-start: 2;
    }
}

/*ROTATION DE L ICONE ET TEXTE COUPE*/
.carte__item1 {
    display: flex;
    height: auto;
    width: auto;
    padding: 1rem;
    border-radius:1rem;
    cursor:pointer;
    background-color:$color-background;
    overflow: hidden;
     &:hover{
        @include rotation ;
    }
}

/*TEXTE COUPE*/
.titres, .description1, .detail {
    margin: 0;
    height: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 2;
}
/**/

.prix{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
}

/*APPARITION DE LA DIV CONFIRMATION */
.confirmation {
    @include flex-center;
    background-color: $color-tertiary;
    color:white;
    width: 4rem;
    margin: -1rem -5rem -1rem 1rem;
    transition: all 0.7s ease;
}

.carte__item1:hover .confirmation {
    margin-right: -1rem;
}
/**/

.commander {
    margin: 3rem 2rem 0 2rem;
    @include flex-center;
    width: auto;
}
