
/*MENU RESTO*/

@keyframes montee
{
    0%
    {
      transform: translateY(-40px);
      opacity: 0;
    }
    100%
    {
      transform: translateY(0px);
      opacity: 1;
    }
}


/*LOADER*/

  @keyframes chargeur {
    0%{
      transform: rotate(0deg) scale(1);
      border-top-color:  #99E2D0;
      border-bottom-color:  #99E2D0;
    }
    25%{
      border-top-color: #FF79DA ;
      border-bottom-color: #FF79DA ;
    }
    50% {
       transform: rotate(360deg) scale(1.15);
      border-top-color: #9356DC;
      border-bottom-color: #9356DC;
    }
    75%{
      border-top-color: #99E2D0;
      border-bottom-color: #99E2D0;
    }
    100%{
       transform: rotate(720deg) scale(1);
      border-top-color: #FF79DA;
      border-bottom-color: #FF79DA;
      opacity : 0;
      animation-fill-mode: forwards;
    }
  }

  @keyframes disparition {
    from{opacity : 0.2 ;
      transform: scale(1);
    }
    to {opacity : 0 ;
      transform: scale(0);
    }
  }


