
$color-primary:#9356DC ;
$color-secondary:#FF79DA ; 
$color-tertiary:#99E2D0 ; 
$color-gradient : linear-gradient(($color-secondary),($color-primary));
$color-background : white;
$color-background-footer : #353535;
$color-primary-text : black;
$color-secondary-text : white;
$color-background-secondary : #f1f1f1;