/* RESPONSIVE*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/**************HEADER = _header.scss**************/
/**************LOADER ****************************/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: whitesmoke;
  opacity: 0.9;
  animation: disparition 0.3s 3s ease-in forwards;
  transform-origin: top;
}

.loader {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 16px solid #9356DC;
  border-top-color: #FF79DA;
  border-bottom-color: #99E2D0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: chargeur 3s linear 1s;
  animation-fill-mode: forwards;
}

/**************PAGE D ACCUEIL********************/
.fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3.5rem;
  counter-reset: steps;
}

.etape {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f1f1f1;
  margin: auto 0.5rem 1.5rem auto;
  width: 100%;
  position: relative;
}
.etape:hover {
  background-color: #f2eafb;
}

.etape span :hover {
  color: #9356DC;
}

.etape::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "" counter(steps);
  counter-increment: steps;
  height: 25px;
  width: 25px;
  left: -1rem;
  transition: all 0.3s;
  border-radius: 50%;
  background: #9356DC;
}

.card {
  background-color: #f1f1f1;
  padding-bottom: 3rem;
}

.card__resto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__resto :hover {
  background-color: #f2eafb;
  transition: all 0.3s ease;
}
.card__resto .new {
  position: relative;
}
.card__resto .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #278870;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1rem;
  top: 1rem;
}
@media screen and (min-width: 1224px) {
  .card__resto {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-left: 8rem;
  }
}

.card__resto--paletteDuGout,
.card__resto--noteEnchantee,
.card__resto--alaFrancaise,
.card__resto--deliceDesSens {
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.48);
  font-weight: lighter;
  font-size: 18px;
  width: 80%;
  height: 15rem;
  border-radius: 10%;
  line-height: 20%;
  margin-bottom: 1.5rem;
}
.card__resto--paletteDuGout p, .card__resto--paletteDuGout h3,
.card__resto--noteEnchantee p,
.card__resto--noteEnchantee h3,
.card__resto--alaFrancaise p,
.card__resto--alaFrancaise h3,
.card__resto--deliceDesSens p,
.card__resto--deliceDesSens h3 {
  padding-left: 10px;
}
.card__resto--paletteDuGout img,
.card__resto--noteEnchantee img,
.card__resto--alaFrancaise img,
.card__resto--deliceDesSens img {
  box-sizing: content-box;
  width: 100%;
  height: 10rem;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  text-align: center;
}
@media screen and (min-width: 1224px) {
  .card__resto--paletteDuGout,
.card__resto--noteEnchantee,
.card__resto--alaFrancaise,
.card__resto--deliceDesSens {
    border-radius: 2rem;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .card__resto--paletteDuGout,
.card__resto--noteEnchantee,
.card__resto--alaFrancaise,
.card__resto--deliceDesSens {
    border-radius: 2rem;
  }
}

.card__lieu {
  margin: -1rem 3rem -1rem 1rem;
  display: flex;
  justify-content: space-between;
}
.card__lieu .fa-regular {
  position: absolute;
}
.card__lieu .fa-solid {
  position: absolute;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.card__lieu .fa-solid:hover {
  opacity: 1;
  transform: scale(1.2);
}

/*********PAGE RESTO***************/
.resto {
  background-color: #f1f1f1;
}

.restoImg {
  box-sizing: content-box;
  background-size: cover;
  background-position: bottom;
}

img {
  width: 100%;
}
@media screen and (min-width: 1224px) {
  img {
    max-width: 100%;
    max-height: 28rem;
    width: 100%;
    object-fit: cover;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  img {
    max-width: 100%;
    max-height: 22rem;
    width: 100%;
    object-fit: cover;
  }
}

.flecheRetour {
  font-size: 1.5rem;
  position: absolute;
  left: 3rem;
  top: 2.8rem;
}

h6 {
  font-weight: lighter;
  font-size: 18px;
}
h6::after {
  content: "";
  display: block;
  margin-top: 0.2rem;
  width: 3rem;
  height: 0.2rem;
  background: #99E2D0;
}

.carte {
  background-color: #f1f1f1;
  border-radius: 30px 30px 0 0;
  padding: 0.1rem 1rem 0 1rem;
  position: relative;
  top: -3.5rem;
}

.carte__titre {
  font-family: "Shrikhand";
  font-size: 30px;
}
.carte__titre .fa-regular {
  position: absolute;
}
.carte__titre .fa-solid {
  position: absolute;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.carte__titre .fa-solid:hover {
  opacity: 1;
  transform: scale(1.2);
}
.carte__titre span {
  position: absolute;
  right: 4rem;
  top: 2.5rem;
}

.carte__menus {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media screen and (min-width: 1224px) {
  .carte__menus {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*MONTEE TITRE ET CARTE*/
h6, .carte, .carte__menus {
  animation: montee 2s ease-in-out backwards 0.8s;
}

/*MONTEE ENTREE PLAT DESSERT*/
.carte__menus--1 {
  animation: montee 1s ease-in-out backwards 0.2s;
}

.carte__menus--2 {
  animation: montee 1s ease-in-out backwards 0.5s;
}

.carte__menus--3 {
  animation: montee 1s ease-in-out backwards 1.2s;
}

/*MONTEE DES PLATS*/
.carte__item1--1 {
  animation: montee 1s ease-in-out backwards 0.5s;
}

.carte__item1--2 {
  animation: montee 1s ease-in-out backwards 0.8s;
}

.carte__item1--3 {
  animation: montee 1s ease-in-out backwards 1.1s;
}

.carte__item1--4 {
  animation: montee 1s ease-in-out backwards 1.4s;
}

.carte__item1--5 {
  animation: montee 1s ease-in-out backwards 1.7s;
}

.carte__item1--6 {
  animation: montee 1s ease-in-out backwards 2s;
}

.carte__item1--7 {
  animation: montee 1s ease-in-out backwards 2.3s;
}

.carte__item1--8 {
  animation: montee 1s ease-in-out backwards 2.6s;
}

.carte__item1--9 {
  animation: montee 1s ease-in-out backwards 2.9s;
}

.carte__item1--10 {
  animation: montee 1s ease-in-out backwards 1.3s;
}
@media screen and (min-width: 1224px) {
  .carte__item1--10 {
    grid-column-start: 2;
  }
}

/*ROTATION DE L ICONE ET TEXTE COUPE*/
.carte__item1 {
  display: flex;
  height: auto;
  width: auto;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: white;
  overflow: hidden;
}
.carte__item1:hover .icone i {
  transform: rotate(1turn);
  transition: 1s;
}

/*TEXTE COUPE*/
.titres, .description1, .detail {
  margin: 0;
  height: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 2;
}

/**/
.prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}

/*APPARITION DE LA DIV CONFIRMATION */
.confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  width: 4rem;
  margin: -1rem -5rem -1rem 1rem;
  transition: all 0.7s ease;
}

.carte__item1:hover .confirmation {
  margin-right: -1rem;
}

/**/
.commander {
  margin: 3rem 2rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

button {
  padding: 15px;
  margin: auto;
  border: none;
  width: 60%;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 5px 13px 14px 0px rgba(0, 0, 0, 0.23);
}
button:hover {
  opacity: 0.9;
  box-shadow: 5px 13px 14px 0px rgba(0, 0, 0, 0.43);
  transition: all 0.3s ease;
  transform: scale(1.01);
}

li {
  padding: 10px;
  margin: 10px;
  height: 2.5rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
}

footer {
  background-color: #353535;
  padding: 2rem;
}
footer a {
  color: white;
}
footer i {
  padding-right: 0.5rem;
}

@media screen and (min-width: 1224px) {
  .liensFooter {
    display: flex;
    justify-content: space-around;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .liensFooter {
    display: flex;
    justify-content: space-around;
  }
}

.footer__titre {
  font-family: "Shrikhand";
  color: white;
  font-size: 20px;
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 1224px) {
  .footer__titre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-bottom: 2rem;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .footer__titre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-bottom: 2rem;
  }
}

header {
  text-align: center;
}

h1 {
  font-family: "Shrikhand";
  padding: 1rem;
}
@media screen and (min-width: 1224px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  margin-left: 10%;
  padding-top: 2.5rem;
}
@media screen and (min-width: 1224px) {
  h2 {
    text-align: center;
    font-size: 35px;
    margin-left: 0;
    padding: 4rem;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  h2 {
    text-align: center;
    font-size: 30px;
    margin-left: 0;
    padding-bottom: 2rem;
  }
}

a {
  text-decoration: none;
}

.localisation {
  margin-top: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
}
.localisation i {
  padding-right: 1rem;
}

.intro {
  display: grid;
  text-align: center;
  padding: 5% 0 15% 0;
  background-color: #f1f1f1;
}
.intro h2 {
  margin: 0;
}
@media screen and (min-width: 1224px) {
  .intro {
    padding: 0 0 5% 0;
  }
}

.intro__soustitre {
  font-weight: lighter;
  font-size: 18px;
  padding-bottom: 10%;
}
@media screen and (min-width: 1224px) {
  .intro__soustitre {
    padding: 1rem;
  }
}

@media screen and (min-width: 1224px) {
  .intro__button {
    width: auto;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .intro__button {
    width: auto;
  }
}

/*MENU RESTO*/
@keyframes montee {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*LOADER*/
@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #99E2D0;
    border-bottom-color: #99E2D0;
  }
  25% {
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
  }
  50% {
    transform: rotate(360deg) scale(1.15);
    border-top-color: #9356DC;
    border-bottom-color: #9356DC;
  }
  75% {
    border-top-color: #99E2D0;
    border-bottom-color: #99E2D0;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
    opacity: 0;
    animation-fill-mode: forwards;
  }
}
@keyframes disparition {
  from {
    opacity: 0.2;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}/*# sourceMappingURL=style.css.map */